<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
<title>Unix Course - Admin</title>
<link rel="stylesheet" href="<% request.uri_base %>/css/style.css" />
<link rel="stylesheet" href="<% request.uri_base %>/css/diQuery-collapsiblePanel.css" />

<!-- Grab Google CDN's jQuery. fall back to local if necessary -->
<script src="<% request.uri_base %>/javascripts/jquery.js" type="text/javascript"></script>
<script src="<% request.uri_base %>/javascripts/jquery.dimensions.js" type="text/javascript"></script>
<script src="<% request.uri_base %>/javascripts/table.js" type="text/javascript"></script>
<script src="<% request.uri_base %>/javascripts/diQuery-collapsiblePanel.js" type="text/javascript"></script>
<script language="javascript">
   var name = "#sidebar";  
	 var menuYloc = null;  
	 $(document).ready(function(){  
	 menuYloc = parseInt($(name).css("top").substring(0, $(name).css("top").indexOf("px")))  
	 $(window).scroll(function () {  
	 var offset = menuYloc+$(document).scrollTop()+"px";  
	 $(name).animate({top:offset}, {duration:500, queue:false});  
	 });  
});
</script>
<script language="javascript" type="text/javascript">
  $(document).ready(function() {
	  $(".collapsibleContainer").collapsiblePanel();
  });
</script>  
</head>
<body>
	<div id="sidebar"><object>
<ul>
<li><a href="/">Main Page</a></li>	
<li><a href="/process">Processes Management</a></li>
<li><a href="/users">User Managment</a></li>
<li><a href="/groups">Groups Managment</a></li>
<li><a href="/files">File Managment</a></li>
<li><a href="/statistics">Statistics</a></li>
</ul>
</object>
</div>
<div id="header">
	<% IF session.username %>
	<h5>Welcome <% session.username %></h5>
	<% END %>
	<% IF title %>
	<h2> <% title %></h2>
	<% END %>
	<% IF infotext %>
	<div align="center"><% infotext %></div>
	<% END %>
</div>
<div id="content">
     <% IF not session.logged_in %><div align="center">
       <a href="<% login_url %>">log in</a></div>
				 <% END %>
  <% IF msg %>
    <div class=flash> <% msg %> </div>
  <% END %>
	<% content %>
</div>

<div id="footer">
<% IF session.logged_in %>
<a href="<% logout_url %>">log out</a><br/>
<% END %>
</div>
Powered by <a href="http://perldancer.org/">Dancer</a> <% dancer_version %>
</body>
</html>
