<% IF session.logged_in %>
<form action="/changepassword/<% username %>" method="post">
New Password:<input type="password" name="newpass"/><br/>
Retype Pass :<input type="password" name="retype"/></br>
<br/>
<input type="submit" name="submit" value="Change">
</form>
<% END %>
